# Key Features of Pandas
* Fast and efficient DataFrame object with default and customized indexing.
* Tools for loading data into in-memory data objects from different file formats.
* Data alignment and integrated handling of missing data.
* Label-based slicing, indexing and subsetting of large data sets.
* Columns from a data structure can be deleted or inserted.
* Group by data for aggregation and transformations.
* High performance merging and joining of data.
* Time Series functionality.

# Pandas Data Structures
There are 3 main data structures in Pandas
* Series: 1D homogenous (single typed) array
* DataFrame: Generally 2D tabular structure with potentially heterogenous (different typed) columns
* Panel: General 3D structures (Basically multiple dataframes)

These data structures are built on top of Numpy array, which means they are fast. We'll cover only the Series and DataFrame in this workshop.

## Series

Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Some key points to remember about the Series are:
* Homogeneous data (single-typed)
* Size Immutable (this is fixed once we define it)
* Data values mutable (we can change the actual contents)

Lets work with some code examples:

In [1]:
import pandas as pd
# Initializes an empty series by default
s = pd.Series()
print(s)

Series([], dtype: float64)

In [37]:
import numpy as np
# Load some data into a series
data = np.array(['a','b','c','d'])
pd.Series(data)

0    a
1    b
2    c
3    d
dtype: object

In [38]:
# We can also load some data from a dictionary too
data = {'a' : 0., 'b' : 1., 'c' : 2.}
# Any values we don't have data for become NaN
pd.Series(data,index=['b','c','d','a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

Let's examine Series indexing. We can index just like a normal python list.

In [46]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first element
s[0]

1

In [40]:
s[:3]

a    1
b    2
c    3
dtype: int64

We can also index by our own index `['a','b','c','d','e']`

In [43]:
s['a']

1

In [42]:
s[:'c']

a    1
b    2
c    3
dtype: int64

Retrieving indicies that don't exist will throw a key error

In [45]:
s['f']

KeyError: 'f'

## DataFrame

A 2D data structure, i.e. data is aligned in a tabular fashion in rows and columns.

* Potentially columns are of different types
* Mutable Size
* Labeled axes (rows and columns
* Perform arithmetic operations on rows and columns

Made with the following constructor
```
pandas.DataFrame(data, index, columns, dtype, copy)
```

The DataFrame can be made with various inputs like
* lists
* dict
* Series
* Numpy Arrays
* Another Dataframe

Let's cover a few useful examples of creating DataFrames.

In [3]:
import pandas as pd
# Create an Empty DF
empty_df = pd.DataFrame()
print(empty_df)

# Create Dataframe from lists
data = [['Alex',10],['Bob',12],['Clarke',13]]
# Note the dtype=float casts the age to floats
name_df = pd.DataFrame(data,columns=['Name','Age'], dtype=float)
print("List DF")
print(name_df)

Empty DataFrame
Columns: []
Index: []
List DF
     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [4]:
import numpy as np
# Most commonly you'll be making dataframes from numpy arrays
data = np.random.uniform(size=(100, 3))
random_df = pd.DataFrame(data, columns=['a', 'b', 'c'])
# Since this is a big dataframe, we don't print the whole thing out
# Lets just print the last 5 values
random_df.tail()

           a         b         c
95  0.666186  0.883721  0.671259
96  0.189425  0.491713  0.296900
97  0.464395  0.287185  0.724473
98  0.786948  0.192434  0.795559
99  0.719624  0.057651  0.524112

### Column Addition

We square bracket notation from python is used for columns in pandas. We can add a new column by passing as a numpy array.

In [47]:
random_df['d'] = np.ones((100,))
random_df.tail()

           a         b         c    d
95  0.666186  0.883721  0.671259  1.0
96  0.189425  0.491713  0.296900  1.0
97  0.464395  0.287185  0.724473  1.0
98  0.786948  0.192434  0.795559  1.0
99  0.719624  0.057651  0.524112  1.0

We can also add a new column using the existing columns in DataFrame.

In [48]:
random_df['e'] = random_df['c'] + random_df['d']
random_df.tail()

           a         b         c    d         e
95  0.666186  0.883721  0.671259  1.0  1.671259
96  0.189425  0.491713  0.296900  1.0  1.296900
97  0.464395  0.287185  0.724473  1.0  1.724473
98  0.786948  0.192434  0.795559  1.0  1.795559
99  0.719624  0.057651  0.524112  1.0  1.524112

### Column Deletion

Using the pop function we can delete columns

In [14]:
random_df.pop('e')
random_df.tail()

           a         b         c    d
95  0.920395  0.172463  0.631018  1.0
96  0.411321  0.430093  0.168328  1.0
97  0.607133  0.514733  0.799955  1.0
98  0.213114  0.565159  0.940272  1.0
99  0.185256  0.214769  0.978575  1.0

In [ ]:
# Add a new column that is the average columns 'a', 'b', and 'c'.
# YOUR CODE HERE

### Row Manipulation

Let's take a look at row selection, addition, and deletion.

In [5]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

We can use `loc` to index by row using the dataframe's index. Use `iloc` if you specifically want to use the integer index.

In [11]:
df.loc['b']

one    2.0
two    2.0
Name: b, dtype: float64

In [12]:
df.iloc[1]

one    2.0
two    2.0
Name: b, dtype: float64

We can select multiple rows using pythons ':' operator, using our user-defined index or integers.

In [8]:
df['c':]

   one  two
c  3.0    3
d  NaN    4

In [9]:
df[2:]

   one  two
c  3.0    3
d  NaN    4

We can append more dataframes to any other pandas dataframe.

In [18]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
df

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

Note here that some rows have duplicated indicies. If we use `loc`, we'll see multiple rows.

In [19]:
df.loc[0]

   a  b
0  1  2
0  5  6

We can delete all the rows with the index 0 by using the `drop` method.

In [20]:
df.drop(0)

   a  b
1  3  4
1  7  8

## Descriptive Statistics

Pandas comes with a lot of functions to calculate descriptive statistics over a dataframe.

```
count()
sum()
mean()
median()
mode()
std()
min()
max()
abs()
prod()
cumsum()
cumprod()
```

In [25]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
df.count()

Age       12
Name      12
Rating    12
dtype: int64

In [ ]:
# Find the Standard Deviation of the ages in d
# YOUR CODE HERE

## Grouping datasets

Pandas object can be split into any of their objects. There are multiple ways to split an object like
```
obj.groupby('key')
obj.groupby(['key1','key2'])
obj.groupby(key,axis=1)
```
Let us now see how the grouping objects can be applied to the DataFrame object

In [28]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
df.groupby(['Team','Year']).groups

{('Devils', 2014): Int64Index([2], dtype='int64'),
 ('Devils', 2015): Int64Index([3], dtype='int64'),
 ('Kings', 2014): Int64Index([4], dtype='int64'),
 ('Kings', 2016): Int64Index([6], dtype='int64'),
 ('Kings', 2017): Int64Index([7], dtype='int64'),
 ('Riders', 2014): Int64Index([0], dtype='int64'),
 ('Riders', 2015): Int64Index([1], dtype='int64'),
 ('Riders', 2016): Int64Index([8], dtype='int64'),
 ('Riders', 2017): Int64Index([11], dtype='int64'),
 ('Royals', 2014): Int64Index([9], dtype='int64'),
 ('Royals', 2015): Int64Index([10], dtype='int64'),
 ('kings', 2015): Int64Index([5], dtype='int64')}

## Merging Datasets

Pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL.

Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects
```
pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)
```

* left − A DataFrame object.
* right − Another DataFrame object.
* on − Columns (names) to join on. Must be found in both the left and right DataFrame objects.
* left_on − Columns from the left DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.
* right_on − Columns from the right DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.
* left_index − If True, use the index (row labels) from the left DataFrame as its join key(s). In case of a DataFrame with a MultiIndex (hierarchical), the number of levels must match the number of join keys from the right DataFrame.
* right_index − Same usage as left_index for the right DataFrame.
* how − One of 'left', 'right', 'outer', 'inner'. Defaults to inner. Each method has been described below.
* sort − Sort the result DataFrame by the join keys in lexicographical order. Defaults to True, setting to False will improve the performance substantially in many cases.

In [30]:
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})
pd.merge(left,right,on='id')

   Name_x  id subject_id_x Name_y subject_id_y
0    Alex   1         sub1  Billy         sub2
1     Amy   2         sub2  Brian         sub4
2   Allen   3         sub4   Bran         sub3
3   Alice   4         sub6  Bryce         sub6
4  Ayoung   5         sub5  Betty         sub5

In [ ]:
# Merge left and right by subject but do not throw
# out any subjects that are not shared between the two.
# HINT: Think about the 'how' of the merge

# YOUR CODE HERE

## I/O - Reading from CSV files

Reading from and writing to csv files is very common when working with datasets. Pandas makes this really easy with its `read_csv` and `write_csv` functions.

In [35]:
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)
# We'll write to a csv file
# Index says we will not write the index column
df.to_csv("temp.csv", index=False)

In [36]:
# Now we can read the csv file
pd.read_csv("temp.csv")

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
2      863     2  Devils  2014
3      673     3  Devils  2015
4      741     3   Kings  2014
5      812     4   kings  2015
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
9      701     4  Royals  2014
10     804     1  Royals  2015
11     690     2  Riders  2017